/* I am letting Bootstrap handle most of the styling.
What is below is specifics for the page, including
a couple of bootstrap color overrides. */



/* ---- GENERAL USE STYLES ---- */

:root {
    --quiz-hover: blue;
}

body {
    font-size: 16px;
}

p {
    width: 75%;
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: var(--quiz-hover);
}

.btn:disabled,
.btn:disabled:hover {
    background-color: rgba(13, 110, 253, .5);
    opacity: 1;
}


/* ---- HEADER STYLES ---- */

header {
    width: 100%;
    margin-top: 10px;
}

/* Only one button at a time can show in the header, these manage that */
#top-buttons button,
#top-buttons div {
    display: none;
    width: 180px;
    white-space: nowrap;
}

#top-buttons button.visible,
#top-buttons div.visible {
    display: inline-block;
}

/* Removing hover effedts on the header buttons */
header #timer.btn-success:hover {
    background-color: var(--bs-success);
}

header #timer.btn-warning:hover {
    background-color: var(--bs-warning);
}

header #timer.btn-danger:hover {
    background-color: var(--bs-danger);
}

/* Though the timer is styled as a button, it isn't and should't have a pointer */
header #timer {
    cursor: default;
}



/* ---- MAIN CONTENT SECTION STYLES ---- */

main {
    margin: 0 10%;
}

/* Not all sections should be showing, these rules manag that */
main section {
    display: none;
    text-align: center;
}
main section.visible {
    display: block;
    position: relative;
}



/* There are indidivual styles for each "page" */



/* ---- QUIZ PAGE STYLES ---- */
/* The Quiz page serves two purposes: to take a quiz and to review a quiz.
Thus the sets of rules that differentiate between the two. */

#quiz-question {
    margin-top: 15px;
}

/* These rules are for the question options */
#quiz-section ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

#quiz-section li {
    margin-bottom: 3px;
    text-align: left;
}

#quiz-section ul button,
#quiz-section ul li.btn {
    display: block;
    width: 100%;
    text-align: left;
}

#quiz-section ul li.btn {
    opacity: .5;
    cursor: default;
}

#quiz-section ul li.btn.clicked {
    opacity: 1;
}

#quiz-section ul li.btn-primary:hover {
    background-color: var(--bs-primary);
}

#quiz-section ul li.btn-outline-primary:hover {
    border-color: var(--bs-primary);
    background-color: white;
    color: var(--bs-primary);
}

#quiz-section ul li.btn-success:hover {
    background-color: var(--bs-success);
}

#quiz-section li:hover button {
    background-color: var(--quiz-hover);
}

/* These rules are for the result display */
#result {
    display: block;
    position: absolute;
    top: 6px;
    border-radius: 4px;
    padding: 3px 0;
    color: white;
    font-size: .75em;
    text-align: center;
    text-transform: uppercase;
}

#result.correct {
    background-color: var(--bs-success);
}

#result.wrong {
    background-color: var(--bs-danger);
}


/* These rules show and hide and style the elements that should
only show for the reviewing status */
#quiz-section #review-key {
    display: none;
}

#quiz-section.review #review-key {
    display: block;
    font-size: .7em;
}


/* The navigation menu for the quiz review is hidden rather than
display: none, because I want to preserve the spacing */
#quiz-section nav {
    visibility: hidden;
    width: 50%; 
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
}

#quiz-section.review nav {
    visibility: visible;
}

#quiz-section #review-back,
#quiz-section #review-next {
    text-transform: uppercase;
}

/* The user-and-score identifier is dynamically inserted by JS */
#quiz-section.review #user-and-score {
    display: block;
    margin: 0 0 1rem;
    text-align: center;
    font-size: .8em;
}



/* ---- ENTER SCORES STYLES ---- */

#enter-score-section.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enter-score-section #submit-group {
    margin: 0 auto;
}

#enter-score-section input {
    max-width: 200px;
    min-width: 120px;
}

/* The blue "focus" outline is removed via Bootstrap,
this rule gives some slight visual evidence of focus. */
#enter-score-section input:focus {
    background-color: #eeeeee;
}


/* ---- HIGH SCORES STYLES ---- */

#high-scores-section table thead {
    background-color: #cccccc;
    text-transform: capitalize;
}

#high-scores-section th,
#high-scores-section td {
    vertical-align: middle;
}



/* ---- HOVER STATE SENSOR ---- */
/* This media query removes hover states only on the quiz interface
when there is no hover in the interface. That is otherwise distracting.
It does not remove any other hover states. */

@media (hover: none) {
    #quiz-section li:hover button {
        background-color: var(--bs-primary);
    }
}