/* ---- GENERAL USE STYLES ---- */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    padding: 10px;
}

h1,
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

button {
    border: 1px solid green;
    border-radius: 6px;
    padding: 8px 10px;
    color: green;
    background-color: white;
    font-size: .75em;
    text-transform: uppercase;
}

button:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}


/* ---- KEYFRAMES ---- */

@keyframes result {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* ---- HEADER STYLES ---- */

header {
    display: flex;
    justify-content: space-evenly;
    font-size: .75em;
}

header div {
    flex: 1 1 200px;
}

header div#timer {
    text-align: right;
}


/* ---- MAIN CONTENT SECTION STYLES ---- */

main {
    margin: 0 20%;
    min-width: 400px;
}

main section {
    display: none;
    text-align: center;
}

main section.visible {
    display: block;
}


/* ---- QUIZ PAGE STYLES ---- */

#quiz h2 {
    height: 2.5em;
    margin-bottom: 0;
}

#quiz ol {
    list-style-position: inside;
    padding-left: 0;
}

#quiz li {
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 7px;
    background-color: rgb(146, 173, 231);
    text-align: left;
}

#quiz li:hover {
    background-color: rgb(47, 106, 233);
    color: white;
    cursor: pointer;
}

#result {
    width: 50%;
    padding: 5px;
    color: white;
    font-size: .75em;
    text-align: left;
}

#result.correct {
    background-image: linear-gradient(to right, green, white);
    animation-name: result;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#result.wrong {
    background-image: linear-gradient(to right, red, white);
    animation-name: result;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/* ---- ENTER SCORES STYLES ---- */

#enterScore p {
    text-align: center;
}

#enterScore button {
    height: 30px;
}

#enterScore input {
    height: 24px;
    width: 120px;
    border: 1px solid green;
    padding: 1px 10px;
    font-family: inherit;
    font-size: .8em;
}

#enterScore #noSubmit {
    margin-left: 25px;
}



/* ---- HIGH SCORES STYLES ---- */

#highScores table {
    margin: 10px auto;
    border-collapse: collapse;
}

#highScores td,
#highScores th {
    min-width: 50px;
    padding: 6px 12px;
    text-align: center;
}

#highScores th {
    background-color: green;
    color: white;
}

#highScores tr:nth-child(even) {
    background-color: #ddd;
}